body {background-image:url("red_black_abstract.jpg");
      background-repeat: no-repeat;
        background-size: cover}
h2 {
    margin-left: 25%;
    background:whitesmoke;
    max-width: 50%;
    font-size: 40px;
    border-style: groove;
    border-color: whitesmoke;
    text-align: center;
    border-radius: 10px}

.navbar{
    background: darkgrey !important;
    color : red;
}

.dropdown{
    color: red;
    border-radius:0;
    border:0;
}
.dropdown-menu{
    color: red;
    background: #0c73cc;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#085ca5;
    color:red;
}
.dropdown-menu a{
    color:red;
}
.navbar .nav-item .nav-link{
    color:red !important;

}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:blue !important;

}
.navbar .navbar-brand {
    color: red;
    background: white;
    padding:10px;
    border-radius: 10px;}

/*upload button*/
div.input-group.mb-3{max-width: 50%;
                    text-align: center;
                margin-left: 35%}
/*title*/
.form-control{max-width: 39%;}
/*question area*/
div.custom-file{max-width: 16%;
                text-align: center;}
div.input-group{margin-left: 30%}
div.input-group.input-group-prepend{max-width: 50%;}
.btn.btn-secondary.btn-lg{margin-left: 42%}