body {background-image:url("red_black_abstract.jpg");
      background-repeat: no-repeat;
        background-size: cover}
#title {margin-top:2px}

h4 {margin-block: auto;
    margin-left: 43%;}

h2 {
    background: darkred;
    font-size: 40px;
    border-style: groove;
    border-color: whitesmoke;
    margin-block: auto;
    margin-left: 40.5%;
    width: 13.4%;
    text-align: center;
 border-radius: 10px}

h3{display: inline-block;
    background: darkred;
    font-size: 40px;
    border-style: groove;
    border-color: whitesmoke;
    margin-block: auto;
    margin-left: 13%;
    width: 70%;
     border-radius: 10px;
    text-align: center;
    }
.button {margin:auto;
  background-color: darkred; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
        }
.button1:hover {background-color: white;}