body {background-image:url("red_black_abstract.jpg");
      background-repeat: no-repeat;
        background-size: cover;
 vertical-align: center;}

h2{border-style: groove;
        border-radius: 12px;
    background: whitesmoke;
    max-width: 50%;
    text-align: center;
    margin-left: 24%}

h4{border-style: groove;
        border-radius: 12px;
    background: whitesmoke;
    max-width: 50%;
    text-align: center;
    margin-left: 24%}

#vote_down{border-radius: 50px;
            border-style: hidden;
            background: #9C1A1C}
#vote_up{border-radius: 50px;
            border-style: hidden;
            background: #9C1A1C}

#votes{text-align: center}
.table td{vertical-align: middle}
.table th{vertical-align: middle}
.table{width: 60%;
    /*text-align: center;*/
    text-align:center;
        margin-left: 20%}


.navbar{
    background: darkgrey !important;
    color : red;
}

.dropdown{
    color: red;
    border-radius:0;
    border:0;
}
.dropdown-menu{
    color: red;
    background: #0c73cc;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#085ca5;
    color:red;
}
.dropdown-menu a{
    color:red;
}
.navbar .nav-item .nav-link{
    color:red !important;

}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;

}
.navbar .navbar-brand {
    color: red;
    background: white;
    padding:10px;
    border-radius: 10px;}

.btn.btn-primary{background-color: whitesmoke;
                color: black;
                margin-left: 20%}

#comment {background: darkgrey;
    color: red;
    margin-bottom: 0%}
#comment2 {background: darkgrey;
            margin-top: 0%}