body {background-image:url("red_black_abstract.jpg");
      background-repeat: no-repeat;
        background-size: cover}

h3 {margin-block: auto;
    margin-left: 44%;}

h2  {border-style: groove;
    background:darkred;
    margin-block: auto;
    margin-left: 38%;
    width: 20%;
    text-align: center;
    border-radius: 12px;}

h4 {border-style: groove;
    background:darkred;
    margin-top: 10px;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 12px;}

td {border-style: groove;
    border-color: darkgrey;
    background: honeydew;
    margin: 50px;
    text-align: center;
    border-radius: 12px;
    }
a:-webkit-any-link {
    color:red;
    cursor: pointer;
    text-decoration: #9C1A1C;}


#message {font-size: 25px}


#comment {font-style: inherit;
            font-size: 15px;
            text-decoration: underline;}

#comment2 {font-style: normal;
            font-size: 13px;}

#new_answer {border-style: groove;
             border-width: medium;
            color: white;
             background:  darkred;
             background-size: 20px;
             border-radius: 12px;
             border-color: darkgrey;
             margin-block: auto;
            margin-left: 10%;
            margin-top: 30%;
            padding: 0.5%}


#add_comment {border-style: groove;
             border-width: medium;
             background:  honeydew;
             background-size: 20px;
             border-radius: 12px;
             border-color: darkgrey;
             margin-block: auto;
            margin-left: 25%;
            margin-bottom: 30%;
            padding: 0.5%}
#edit_delete {background: black}

.button
  {
  background-color: darkred; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;}

.button1:hover {
  background-color: white;
}
table.comments {border-style: groove;
             background: darkgrey;
            padding: 0.5%;
             border-radius: 12px;
             margin-block: auto;
            margin-left: 25%;
            margin-bottom: 0.5%;
            width: 50%;}
td.edit_delete{background:black;
        border-style: groove;
    margin-block: auto;
        width: 10%;
        border-radius: 12px}

#answer_comment {background: darkgrey;
                    width: 80%;
                    margin-block: auto;
                    margin-left: 10%;
                    border-radius: 12px}

th.headline {
    position: relative;
    color: white;
            background: black;
            border-style: groove;
            border-radius: 12px}
tr.headline2{
            background: black;
            color: white;
            border-style: groove;
            border-color: darkgrey;
            border-radius: 12px}

table.info {border-style: groove;
             background: darkred;
             border-radius: 12px;
             margin-block: auto;
            margin-left: 10%;
            margin-top: 0.5%;
            margin-bottom: 0.7%;
            width: 80%;
            padding: 0.5%;}

#vote_up {margin-block: auto;
          border-radius: 12px;}

#vote_down{
            border-radius: 12px;}

#vote_number {
             border-radius: 12px;}