body {background-image:url("red_black_abstract.jpg");
      background-repeat: no-repeat;
        background-size: cover}

h1{border-style: groove;
        border-radius: 12px;
    background: whitesmoke;
    max-width: 50%;
    text-align: center;
    margin-left: 24%}

.navbar{
    background: darkgrey !important;
    color : red;
}

.dropdown{
    color: red;
    border-radius:0;
    border:0;
}
.dropdown-menu{
    color: red;
    background: #0c73cc;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#085ca5;
    color:red;
}
.dropdown-menu a{
    color:red;
}
.navbar .nav-item .nav-link{
    color:red !important;

}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;

}
.navbar .navbar-brand {
    color: red;
    background: white;
    padding:10px;
    border-radius: 10px;}

.btn.btn-secondary.btn-lg{background-color: whitesmoke;
                color: black;
                margin-left: 43%}

div.input-group.mb-3{max-width: 80%;
                    text-align: center;
                    margin-top: 5%;
                     margin-left: 34%}
div.input-group.mb-3.select{max-width: 80%;
                            text-align: center;
                             margin-left: 10%}
/*title*/
.form-control{max-width: 39%;
    height: 150%}
/*question area*/
div.custom-file{max-width:10%;
                text-align: center;}