table{border-style: solid;
      background:  darkred;
      margin: 50px;
      border-radius: 12px;
        }

body {background-image:url("red_black_abstract.jpg");
      background-repeat: no-repeat;
        background-size: cover}
.button {
  background-color: darkred; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 600px;
    margin-bottom:0px;
    border-radius: 12px;
        }
.button1:hover {background-color: white;}

h2 { margin-top: 0px;
      margin-right: 500px;
      margin-left: 500px;
      margin-bottom:0px;
      border-radius: 12px;}

.highlight {background: red}

#vote_up {margin-top: 0px;
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom:0px;
          border-radius: 12px;}
#vote_down{ margin-top: 0px;
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom:0px;;
            border-radius: 12px;}
p {   border-style: solid;
      background: darkred;
      cursor: pointer;
      margin-top: 0px;
      margin-right: 500px;
      margin-left: 500px;
      margin-bottom:0px;
      text-align: center;
      border-radius: 12px;
}
#vote_number {margin-top: 0px;
             margin-right: 5px;
             margin-left: 5px;
             margin-bottom:0px;
             border-radius: 12px;}

a:-webkit-any-link {
    color: #9C1A1C;
    cursor: pointer;
    text-decoration: #9C1A1C;}

h1 {border-style: groove;
    background:  darkred;
    border-color: darkgrey;
    margin-top: 10px;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 12px;}

th {border-style: groove;
    border-color: darkgrey;
    background:  honeydew;
    background-position: inherit;
    margin: 50px;
    border-radius: 12px;}

td {border-style: groove;
    border-color: darkgrey;
    background: honeydew;
    margin: 50px;
    text-align: center;
    border-radius: 12px;
    }
#new_answer {border-style: groove;
    background: honeydew;
    border-color: darkgrey;
    margin-top: 10px;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 12px;}