body {background-image:url("red_black_abstract.jpg");
      background-repeat: no-repeat;
        background-size: cover}

.table td{vertical-align: middle;
width: 30%}
.table th{vertical-align: middle;
width: 30%}

.table{width: 80%;
        margin-left: 9%}

.navbar{
    background: darkgrey !important;
    color : red;
}
#vote_down{border-radius: 50px;
            border-style: hidden;
            background: #9C1A1C}
#vote_up{border-radius: 50px;
            border-style: hidden;
            background: #9C1A1C}
.dropdown{
    color: red;
    border-radius:0;
    border:0;
}
.dropdown-menu{
    color: red;
    background: #0c73cc;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#085ca5;
    color:red;
}
.dropdown-menu a{
    color:red;
}
.navbar .nav-item .nav-link{
    color:red !important;

}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:blue !important;

}
.navbar .navbar-brand {
    color: red;
    background: white;
    padding:10px;
    border-radius: 10px;}

#my_head {
            text-align: center;}

#edit_delete {background: #212529}

