table{border-style: solid;
      background:  darkred;
      margin-block: auto;
    width: 75%;
    height: 10%;
    font-family: "DejaVu Sans";
    margin-left: 14%;
      border-radius: 12px;
        }

#edit_delete{background: black}

body {background-image:url("red_black_abstract.jpg");
      background-repeat: no-repeat;
        background-size: cover}
h5{margin-block: auto;}






.button {margin:auto;
  background-color: darkred; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
        }

.button1:hover {background-color: white;}
.button2:hover {background-color: white;}

div{margin: auto;
    width: 15%;}

.button2 {margin-left: 43%;}

.button1 {margin-left: 45%}

h2{margin-left: 37%;
    border-radius: 12px;}

.highlight {background: red}
asdasd
#vote_up {margin: auto;
          border-radius: 12px;}
#vote_down{margin: auto;
            border-radius: 12px;}
p {   border-style: solid;
      background: darkred;
      cursor: pointer;
      margin: auto;
      text-align: center;
      border-radius: 12px;
}
#vote_number {margin: auto;
             border-radius: 12px;}

a:-webkit-any-link {
    color: red;
    cursor: pointer;
    text-decoration: #9C1A1C;}

h1 {border-style: groove;
    background:  darkred;
    border-color: darkgrey;
    margin: auto;
    width: 30%;
    text-align: center;
    border-radius: 12px;}

th.headline {
    position: relative;
    color: white;
            background: black;
            border-style: groove;
            border-radius: 12px}

td {border-style: groove;
    border-color: darkgrey;
    background: honeydew;
    margin: 50px;
    text-align: center;
    border-radius: 12px;
    }
