<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_add_comment.css') }}">
</head>

<body>
    <h1>Make a new Answer</h1>
    <h2>
        <form action="/answers/{{question_id}}" method="post" enctype="multipart/form-data">
        <textarea rows="5" cols="30" id="message" name="message" placeholder="Answer"></textarea>
        <br>
        <input type="file" name="file" id="file">
        <button type="submit"> Add new Answer</button>
    </form>
    </h2>
</body>
 <h3>
        <form action="/answers/{{ question_id }}">
            <button id="button" class="button button1">Back</button>
        </form>
    </h3>
</html>