<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='answers.css') }}">
</head>
<body>
<h2>{{ question_title }}</h2>
<h3>
    <form action="/" >
            <button id="button" class="button button1" ><i class="fa fa-bars"></i> Home</button>
    </form>
</h3>
{% if question_comments %}
<table id="comments" class="comments">
    <thead>
    <tr class="headline">
        <th class="headline">Comment</th>
        <th class="headline">Submission Time</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in question_comments %}
    <tr>
        <td>{{ comment.message }}</td>
        <td>{{ comment.submission_time }}</td>
        <td><a class="edit_delete" href="/comment/{{ comment.id }}/edit">Edit</a></td>
        <td><a class="edit_delete" href="/comment/{{comment.id}}/delete">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
<h4>There is no comments</h4>
{% endif %}
    <a id="add_comment" href="/question/{{question_id}}/new-comment" >Add comment</a>
<br/>
<table class="info">
    <thead>
    <tr>
        <th>ID</th>
        <th>Submission Time</th>
        <th>Vote Number</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    {% for story in answers %}
    <tr>
        <td>{{story.id }}</td>
        <td>{{story.submission_time}}</td>
        <td>
            <br/>
            <form action="/answer/{{story.id}}/vote_up" method="POST">
                <button name="vote_up" id="vote_up" type="submit">&#8679;</button>
            </form>
            <a id="vote_number">{{story.vote_number}}</a>
            <form action="/answer/{{story.id}}/vote_down" method="POST">
                <button name="vote_down" id="vote_down" type="submit">&#8681;</button>
            </form>
        </td>
        <td>
            <details>
            <summary>{{ story.message }}</summary>
            {% for comment in answer_comments %}
                {% if comment.answer_id == story.id %}
                    <p class="answer_comment" >{{ comment.message }},   {{ comment.submission_time }}</p>
                    <p><a href="/comment/{{ comment.id }}/edit">Edit</a>,<a href="/comment/{{comment.id}}/delete">Delete</a></p>
                {% endif %}
            {% endfor %}
            </details>
        </td>
        {% if story.image %}
            <td><img src="static/images/{{ story.image }}" width="100" height="100"></td>
            {% else %}
            <td></td>
        {% endif %}
        <td><a id="add_comment_answer" href="/answer/{{ story.id }}/new-comment">Add comment</a>
            <a href="/answer/{{ story.id }}/delete">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <a id="new_answer" href="/answers/{{question_id}}/add-new-answer">Add new answer</a>
<br/>
</body>
</html>