<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answers</title>
</head>
<body>
<h2>{{ question_title }}</h2>
<table border="1|0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Submission Time</th>
        <th>Vote Number</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    {% for story in answers %}
    <tr>
        <td>{{story.id }}</td>
        <td>{{story.submission_time}}</td>
        <td>{{story.vote_number}}
            <br/>
            <form action="/answer/{{story.id}}/vote_up" method="POST">
                <button name="vote_up" id="vote_up" type="submit">&#8679;</button>
            </form>
            <form action="/answer/{{story.id}}/vote_down" method="POST">
                <button name="vote_down" id="vote_down" type="submit">&#8681;</button>
            </form>
        </td>
        <td>{{story.message}}</td>
        <td>{{story.image}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <a href="/question/{{question_id}}/add-new-answer">Add new answer</a>
<br/>
<a href="/list" >Back</a>
</body>
</html>