<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>List Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_question.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-sm  sticky-top  navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Ask Mate</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/list">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add-question">Ask question</a>
    </li>
        <li>
            <a class="nav-link" href="#">User page</a>
        </li>
        <li><a class="nav-link" href="/list_users">List users</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/question/search" method="POST">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" aria-label="Search">
      <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Search</button>
    </form>
      <li><b>{{ username }}</b></li>
  </div>
</nav>
<form action="/question/{{ question_id }}/edit" method="POST" enctype="multipart/form-data">
<h3>
        <form action="/list" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
          <div class="input-group-prepend">
                <span  class="input-group-text" id="basic-addon3">Title</span>
            </div>
              <input type="text" class="form-control" id="basic-url"  name="title" aria-describedby="basic-addon3" value="{{ question_title }}">
            </div>
            <div class="input-group">
                 <div class="input-group-prepend">
                    <span class="input-group-text">Your question</span>
                 </div>
                 <textarea id="message" name="message" class="form-control" aria-label="With textarea">{{ question_message }}</textarea>
            </div>
            <br>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">IMG</span>
                  <br>
              </div><br>
              <div class="custom-file">
                  <br>
                <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01"></label>
              </div>
            </div>
            <button type="submit" class="btn btn-secondary btn-lg">Save Edit</button>
        </form>
    </h3>
</body>
</html>