<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a question</title>
</head>
<body>
    <h2>Edit Question</h2>
    <form action="/question/{{ question_id }}/edit" method="POST">
        <label for="title">Story Title:</label>
        <input id="title" type="text" name="title" >
        <br>
        <br>
        <textarea rows="5" cols="30" name="message" id="message" ></textarea>
        <br>
        <button type="submit">Save edit</button>
    </form>
</body>
</html>