<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_question.css') }}">
</head>
<body>
    <h2>Edit Answer</h2>
    <h4>
         <form action="/" >
            <button id="button" class="button button1"> Home</button>
        </form>
     </h4>
    <h3>
    <form action="/answer/{{ answer_id }}/edit" method="POST" enctype="multipart/form-data">
        <label for="message">Answer Message:</label>
        <textarea rows="8" cols="100" name="message" id="message" >{{ answer_message }}</textarea>
        <br>
        <input type="file" name="file" id="file">
        <button type="submit">Save edit</button>
    </form>
        </h3>
</body>
</html>