<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3 style="background: #3A7734">Login</h3>
<div class="row">
    <div class="card col">
        <form action="/login" method="POST">
            <p style="color: #9C1A1C">{{ error }}</p>
            <label for="username"<b>Username</b></label><br/>
            <input type="text" name="username" placeholder="username"><br/>

            <label for="password"<b>Password</b></label><br/>
            <input type="password" name="password" placeholder="password"><br/>
            <button type="submit">Login</button><br/>
        </form>
    </div>
</body>
</html>