<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Questions</title>
</head>
<body>

<h1>Ask Mate Python</h1>
<table border="1|0">
    <thead>
    <tr>
        <th>ID</th>
        <th> <a href="/list/{{ story.submission_time }}/sorting"   </a>Submission Time</th>
        <th>View Number</th>
        <th>Vote Number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    {% for story in stories %}
    <tr>
        <td>{{story.id }}</td>
        <td>{{story.submission_time}}</td>
        <td>{{story.view_number}}</td>
        <td>{{story.vote_number}}
{#            <form action="/upvoting/{{story.id}}">#}
{#            <button name="up_vote" type="submit">&#8679;</button>#}
{#            </form>#}
{#            <form action="/downvoting/{{story.id}}">#}
{#                <button name="down_vote" type="submit">&#8681;</button>#}
            </td>
        <td><a href="/question/{{story.id}}" >{{story.title}}</a></td>
        <td>{{story.message}}</td>
        <td>{{story.image}}</td>
        <td><a href="/question/{{story.id}}/edit">Edit</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <p><a href="/add-question">Add a question</a></p>
</body>
</html>