<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
</head>
<body>
<h1>Ask Mate Python</h1>
<h2>
     <form action="/question/search" method="POST">
            <input  id="search" type="text" placeholder="Search.." name="search"  size="39.5" >
     </form>
</h2>
<h3>
    <form action="/" >
            <button id="button" class="button button1""><i class="fa fa-bars"></i> Home</button>
    </form>
</h3>
<table>
    <thead>
        <th>ID</th>
        <th><a href="/question/order_by_time" >Submission Time</a></th>
        <th><a href="/question/order_by_view" >View Number</a></th>
        <th><a href="/question/order_by_vote" >Vote Number</a></th>
        <th><a href="/question/order_by_title" >Title</a></th>
        <th><a href="/question/order_by_message" >Message</a></th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    {% for story in stories %}
    <tr>
        <td>{{story.id }}</td>
        <td>{{story.submission_time}}</td>
        <td>{{story.view_number}}</td>
        <td>

            <form action="/question/{{story.id}}/vote_up" method="POST">
                <button name="vote_up" id="vote_up" type="submit">&#8679;</button>
            </form>
            <a id="vote_number" >{{story.vote_number}}</a>
            <form action="/question/{{story.id}}/vote_down" method="POST">
                <button name="vote_down" id="vote_down" type="submit">&#8681;</button>
            </form>
           </td>
        <td><a href="/answers/{{story.id}}" >{{ highlight_phrase(story.title,fancy_word) | safe}}</a></td>
        <td>{{ highlight_phrase(story.message,fancy_word) | safe }}</td>
        <td>{{story.image}}</td>
        <td><a href="/question/{{ story.id }}/edit">Edit</a>
        <a href="/question/{{story.id}}/delete">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <p><a id="new_answer" href="/add-question">Add a question</a></p>
</body>
</html>