<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='questions.css') }}">
</head>
<body>
<h1>Ask Mate Python</h1>
<h2>
     <form action="/question/search" method="POST">
            <input type="text" placeholder="Search.." name="search"  size="39.5" >
     </form>
</h2>
<h5>
    <form action="/" >
            <button class="button button1"> Home</button>
    </form>
    <form action="/add-question">
            <button class="button button2">Add a question</button>
    </form>
</h5>
<table>
    <thead id="my_head">
        <th class="headline">ID</th>
        <th class="headline"><a href="/question/order_by_time" >Submission Time</a></th>
        <th class="headline"><a href="/question/order_by_view" >View Number</a></th>
        <th class="headline"><a href="/question/order_by_vote" >Vote Number</a></th>
        <th class="headline"><a href="/question/order_by_title" >Title</a></th>
        <th class="headline"><a href="/question/order_by_message" >Message</a></th>
        <th class="headline">Image</th>
    </thead>
    <tbody>
    {% for story in stories %}
    <tr>
        <td>{{story.id }}</td>
        <td>{{story.submission_time}}</td>
        <td>{{story.view_number}}</td>
        <td>

            <form action="/question/{{story.id}}/vote_up" method="POST">
                <button name="vote_up" id="vote_up" type="submit">&#8679;</button>
            </form>
            <a id="vote_number" >{{story.vote_number}}</a>
            <form action="/question/{{story.id}}/vote_down" method="POST">
                <button name="vote_down" id="vote_down" type="submit">&#8681;</button>
            </form>
           </td>
        <td><a href="/answers/{{story.id}}" >{{ highlight_phrase(story.title,fancy_word) | safe}}</a></td>
        <td>{{ highlight_phrase(story.message,fancy_word) | safe }}</td>
        {% if story.image %}
            <td><img src="static/images/{{ story.image }}" width="100" height="100"></td>
            {% else %}
            <td></td>
        {% endif %}
        <td id="edit_delete"><a href="/question/{{ story.id }}/edit">Edit</a>
            <br/>
            <br/>
        <a href="/question/{{story.id}}/delete">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>